fastapi
uvicorn
pydantic[email]
supabase
python-dotenv
pandas
numpy
httpx
passlib[argon2]
python-multipart
PyJWT
python-dateutil
pytz
six
tzdata
anyio
certifi
idna
sniffio
h11
starlette
annotated-types
pillow
